<!DOCTYPE html>
<html>

<head>
    <title>Sustainable Diet AI</title>
    <link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Sustainable Diet Recommendation System</h1>

    <form action="/predict" method="POST">

        <label>Enter Weight (kg):</label>
        <input type="text" name="weight">

        <br><br>

        <label>Enter Height (m):</label>
        <input type="text" name="height">

        <br><br>

        <button type="submit">Calculate BMI</button>

    </form>

</body>

</html>